version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://host.docker.internal:8000
      - NEXT_PUBLIC_APP_NAME=${NEXT_PUBLIC_APP_NAME:-ChatBot Admin}
      - NEXT_PUBLIC_APP_VERSION=${NEXT_PUBLIC_APP_VERSION:-1.0.0}
    # volumes:
    #   - .:/app
    #   - /app/node_modules
    #   - /app/.next
    command: ["sh", "-c", "./node_modules/.bin/next dev"]
    networks:
      - frontadmin-network

networks:
  frontadmin-network:
    driver: bridge